{% extends 'notes/notes_navigation.html' %}

{% block title %}
<title>View Notes</title>
{% endblock title %}

{% block content %}
<div class="container">
    <table>
      <thead>
        <tr>
          <th>SN</th>
          <th>Uploaded By</th>
          <th>Uploaded On</th>
          <th>Program</th>
          <th>Semester</th>
          <th>Course</th>
          <th>Download</th>
          <th>Description</th>
        </tr>
      </thead>
      {% for i in allnotes %}
      <tbody>
        <tr style="text-align: center;">
          <td>{{forloop.counter}}</td>
          <td>{{i.user.username}}</td>
          <td>{{i.upload_date}}</td>
          <td>{{i.program}}</td>
          <td>{{i.semester}}</td>
          <td>{{i.course}}</td>
          <td><a href="{{i.notesfile.url}}" download>{{i.notesfile}}</a></td>
          <td>{{i.description}}</td>
        </tr>
      </tbody>
      {%endfor%}
    </table>
  </div>
{% endblock content %}