{% load static %}
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.25,shrink-to-fit=no">

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    {% block title%}
    <title>NoteConnect</title>
    {% endblock title%}
</head>

<body>
 <!-- navbar  -->
 <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="position: sticky;">
    <a href="#"><img src="{% static 'images/logo2.png' %}" alt="logo" height="50px" width="100px"></a>
    <!-- <a class="navbar-brand" href="#">Entrance Champs</a> -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse ml-sm-5 justify-content-end" id="navbarSupportedContent">
    
        {% block nav %}
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active mr-sm-3">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active mr-sm-3">
                <a class="nav-link" href="#about">About</a>
            </li>
            <li class="nav-item active mr-sm-3">
                <a class="nav-link" href="#services">Services</span></a>
            </li>
            <li class="nav-item active mr-sm-3">
                <a class="nav-link" href="#contact">Contact Us</a>
            </li>
        </ul>
        {% endblock nav %}

        <div class="d-flex justify-content-end">
            {% if user.is_authenticated %}
            {% block rightnav %}
        <span class="text-white mr-lg-5 pt-sm-1">Welcome,<strong> {{request.user.first_name}}</strong></span>
        <a href="signout"><button class="btn btn-success mr-sm-2" type="submit">Sign Out</button></a>
            {% endblock rightnav %}
        {% else %}
        <form class="form-inline my-2 my-lg-0 ">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0 mr-sm-5" type="submit">Search</button>    
        </form>
        <button class="btn btn-success mr-sm-3" type="submit" data-toggle="modal"
                data-target="#signupModal">Sign Up</button>
        <button class="btn btn-success mr-sm-2" type="submit" type="submit" data-toggle="modal"
                data-target="#signinModal">Sign In</button>
        {% endif %}
        </div>

        

    </div>
</nav>

   
<!-- Signup Modal --> 
<div class="modal fade" id="signupModal" tabindex="-1" role="dialog" aria-labelledby="signupModalLabel"
aria-hidden="true">
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">EntranceChamps -Sign Up</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form action="signup" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="fullname">Full Name</label>
                    <input type="text" class="form-control" id="fullname" placeholder="Enter full name"
                        name="fullname">
                </div>
                <div class="form-group">
                    <label for="inputEmail">Email address</label>
                    <input type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp"
                        placeholder="Enter email" name="email">
                </div>
                <div class="form-group">
                    <label for="inputfaculty">Faculty</label><br>
                    <select id="faculty" name="faculty">
                        <option value="">Select Faculty</option>
                        <option value="faculty1">Faculty of Science and Technology</option>
                        <option value="faculty2">Faculty of Health Science</option>
                        <option value="faculty3">Faculty of Management Studies</option>
                        <option value="faculty4">Faculty of Humanities and Science Sciences</option>
                        <!-- Add more faculty options as needed -->
                    </select>

                </div>
                <div class="form-group">
                    <label for="inputprogram">Program</label><br>
                    <select id="program" name="program" disabled>
                        <option value="">Select Faculty First</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="inputPassword1">Password</label>
                    <input type="password" class="form-control" id="inputPassword1"
                        placeholder="Enter password" name="pass1">
                </div>
                <div class="form-group">
                    <label for="inputPassword2">Confirm password</label>
                    <input type="password" class="form-control" id="inputPassword2"
                        placeholder="Enter password again" name="pass2">
                </div>
                <button type="submit" class="btn btn-primary">Sign Up</button>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
    </div>
</div>
</div> 

<!-- SignIn Modal -->
<div class="modal fade" id="signinModal" tabindex="-1" role="dialog" aria-labelledby="signinModalLabel"
aria-hidden="true">
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">NoteConnect -Sign In</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form action="signin" method="post" >
                {% csrf_token %}
                <div class="form-group">
                    <label for="inputemail">Email</label>
                    <input type="text" class="form-control" id="inputemail" placeholder="Enter email" name="username">
                </div>
                <div class="form-group">
                    <label for="inputPassword1">Password</label>
                    <input type="password" class="form-control" id="inputPassword1"
                        placeholder="Enter password" name="password">
                </div>
                <button type="submit" class="btn btn-primary">Sign In</button>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
    </div>
</div>
</div>


<!-- home -->
<div style="background-color: #addfa2!important; padding: 170px 0px; border-bottom: 1px solid black;">
    <div class="d-flex justify-content-center">
        <h1>NoteConnect</h1>
    </div>
    <div class="d-flex justify-content-center">
        <h1>
            <h4>a web platform to share study notes and engage in QNA discussions</h4>
        </h1>
    </div>
    <div class="d-flex justify-content-center mt-lg-3">
        {% if user.is_authenticated %}
       <a href="#course"><button type="button" class="btn btn-success px-lg-5">Get started >></button></a>
       {% else %}
       <button class="btn btn-success mr-sm-2 px-lg-5" type="submit" type="submit" data-toggle="modal"
                data-target="#signinModal">Get Started >></button>
       {%endif%}
    </div>

</div>

    <!-- footer  -->
    <div class="bg-dark text-success d-flex justify-content-center py-sm-2" style= "border: 2px solid green;">
        <h5>Copyright &copy; 2023 NoteConnect - Developed by Team A2B </h5>
    </div>


    


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
        <script>
            $(document).ready(function() {
                $('#faculty').change(function() {
                    var selectedFaculty = $(this).val();
                    var departmentDropdown = $('#program');
                    departmentDropdown.empty();
        
                    if (selectedFaculty) {
                        departmentDropdown.prop('disabled', false);
                        // Define the mapping of faculty to department options
                        var departmentOptions = {
                            'faculty1': ['Bachelor of Computer Engineering','Bachelor of Civil Engineering','Bachelor of Engineering in Information Technology','Bachelor of Civil & Rural Engineering','Bachelor of Software Engineering','Bachelor of Electrical & Electronics Engineering','Bachelor of Electronics & Communication Engineering','Bachelor in Computer Application','Bachelor of Architecture','Bachelor of Science in Environmental Engineering','Bachelor of Civil Engineering for Diploma Holders'],
                            'faculty2': ['Bachelor of Science in Biochemistry','Bachelor of Pharmaceutical Science','Bachelor of Science in Medical Laboratory Technology','Bachelor of Public Health','Bachelor of Science in Medical Microbiology','Bachelor of Science in Medical Biochemistry','Bachelor of Science in Nursing(Annual)','Bachelor of Nursing Science','Bachelor of Optometry','Bachelor of Physiotherapy'],
                            'faculty3': ['Bachelor of Business Administration','Bachelor of Business Administration -Banking and Insurance' ,'Bachelor of Business Administration -Travel and Tourism','Bachelor of Computer Information System','Bachelor of Hotel Management','Bachelor in Health Care Management','Post Graduate Diploma in Health Care Management'],
                            'faculty4': ['Bachelor of Development Studies(BDEVS)','Bachelor of English and Communication Studies(BECS)', 'Bachelor of Entrepreneurship Development(BED)','Bachelor of Arts Bachelor of Laws (B.A.L.L.B.)'],
                            // Add more faculties and their corresponding departments as needed
                        };
        
                        // Populate the department dropdown with options based on the selected faculty
                        var options = departmentOptions[selectedFaculty];
                        $.each(options, function(index, department) {
                            departmentDropdown.append($('<option></option>').val(department).text(department));
                        });
                    } else {
                        departmentDropdown.prop('disabled', true);
                        departmentDropdown.append($('<option value="">Select Faculty First</option>'));
                    }
                });
            });
        </script>
        
</body>

</html>