{% load static %}
<br><br><br>
<div class="container card shadow mt-5">
	<div class="card-body">
           <h4 class="text-center text-danger">View All Notes</h4>
			<br>
			<table id="example" class="table table-striped table-bordered" style="width:100%">
				<thead style="background-color : #607d8b;">
					<tr>
						<th>S.No</th>
						<th>Uploaded By</th>
						<th>Uploaded On</th>
						<th>Program</th>
						<th>Course</th>
						<th>View Notes</th>
						<th>File Type</th>
						<th>Description</th>
					</tr>
					</thead>
				{% for i in allnotes %}
				<tbody>
				<tr style="text-align: center;">
                    <td>{{forloop.counter}}</td>
					<td>{{i.user.first_name}}</td>
					<td>{{i.upload_date}}</td>
					<td>{{i.program}}</td>
					<td>{{i.course}}</td>
					<td><a href="{{i.notesfile.url}}" class="btn btn-success" download>Download</a></td>
					<td>{{i.filetype}}</td>
					<td>{{i.description}}</td>

                </tr>
				{% endfor %}
				</tbody>
			</table>
    </div>
</div>
